// Variables & mixins & reset styles

$bg-primary: #F7FAFF;

@mixin flexItemsCenter{
    display: flex;
    align-items: center;
}


*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}
